html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-custom{
  width: 18rem;
  height: 100%;
  flex-shrink: 1;
}

.card-img-custom{
  height: 250px;
}

